akka {
  actor {
      provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
    }
  
    # collection of loggers used inside actor system, specified by fully-qualified type name
    loggers = ["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]

    # Options: OFF, ERROR, WARNING, INFO, DEBUG
    loglevel = "DEBUG"
    
    debug {
      receive = on
      autoreceive = on
      lifecycle = on
      event-stream = on
      unhandled = on
    }

    remote {
      helios.tcp {
      port = 8080
      hostname = localhost
    }
  }
}
