<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Suave" version="1.0.0" targetFramework="net45" />
  <package id="WebSharper" version="3.6.7.227" targetFramework="net45" />
  <package id="WebSharper.Owin" version="3.6.5.120" targetFramework="net45" />
  <package id="WebSharper.Suave" version="3.6.4.30" targetFramework="net45" />
  <package id="WebSharper.UI.Next" version="3.6.6.202" targetFramework="net45" />
</packages>